<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<p><i class="icon-<%= icon_class %>"></i><strong><%= title %></strong></p>
	<%= simple_form_for object, url: url, html: { autocomplete: :off, class: "active-inactive-form", data: { trigger: defined?(event_name) ? event_name : 'form:active-inactive' } } do |f| %>
    <%= active_inactive f, attribute %>
  <% end %>
</div>