<div class="row">
	<div class="col-md-12">
		<h1>Apoya nuestras Iniciativas</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<%= render partial: "initiative", collection: @initiatives %>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <% if permitted_to? :manage, :initiatives %>
      <div class="textBox">
        <%= link_to new_ong_initiative_path(ong), class: "btn btn-default btn-block" do %>
          <i class="icon-plus-sign"></i> Crear nueva iniciativa
        <% end %>
      </div>
    <% end %>
		<div class="textBox">
			<h6><i class="icon-time"></i>Iniciativas pasadas</h6>
			<div class="list-group">
        <% @past_initiatives.each do |i| %>
          <%= link_to i.title, ong_initiative_path(ong, i), class: "list-group-item" %>
        <% end %>
			</div>
		</div>
  </div>
</div>
