<h1>Listing paypal_apps</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Client secret</th>
      <th>Username</th>
      <th>App</th>
      <th>Password</th>
      <th>Signature</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="paypal_apps">
    <% @paypal_apps.each do |paypal_app| %>
      <%= render "paypal_app", :paypal_app => paypal_app %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paypal app', new_ong_paypal_app_path, :remote => true, :id => "new_ong_paypal_app" %>
