/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-wysihtml5/b3
 *= require wedoo
 *= require ed2020
 *= require initiatives
 *= require_self
 * require_tree .
 */
/*@import "bootstrap";
@import "bootstrap-wysihtml5/b3";
@import "font-awesome";
@import "wedoo";
@import "ed2020";*/


#loading-indicator {
  position: fixed;
  top: -50px;
  width: 100%;
  z-index: 1001;
}

#loading-indicator div {
  width: 100px;
  background: #91ba10;
  color: #ff8;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  text-align: center;
  padding: 8px 5px;
  -webkit-box-shadow:  3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

/* sobreescribiendo algunos estilos de Rodrigo, momentáneamente */
#iniciative-description ul, #iniciative-description ol {
  list-style-position: outside;
  margin-left: 1em;
}

#iniciative-description li {
  position: relative;
  left: 1em;
  padding-right: 1em;
  
  clear: none;
}