@charset "utf-8";

/* Layout
------------------------------------------------------------------*/
body {background: url(background.png);}

/* Navbar
------------------------------------------------------------------*/
#container > .navbar.navbar-inverse {background:#006932;}

/* Site Menu
------------------------------------------------------------------*/
#siteMenu div button.navbar-toggle {color:#006932;}
#siteMenu div button.navbar-toggle:hover, #siteMenu div button.navbar-toggle:active {color:#004c24;}

/* Main
------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {color:#555;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {color:#006932;} 
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {text-decoration:none; color:#004c24;}
.btn.btn-default {background:#006932;}
.btn.btn-default:hover, .btn.btn-default:active {background:#004c24;}
table th {background:#006932;}
.table-bordered {border-top-color:#006932;}
.table-bordered > thead > tr > th {border-right-color:#006932;}

/* Home */
.initiativeList.action {background:#006932;}